[Unit]
Description=SPIRE Server
After=network.target

[Service]
ExecStart=/opt/spire/bin/spire-server run -config /opt/spire/conf/server/server.conf
WorkingDirectory=/opt/spire
User=ec2-user
Group=ec2-user

[Install]
WantedBy=multi-user.target
