[Unit]
Description=SPIRE Agent
After=network.target

[Service]
ExecStart=/opt/spire/bin/spire-agent run -config /opt/spire/conf/agent/agent.conf
WorkingDirectory=/opt/spire
User=ec2-user
Group=ec2-user

[Install]
WantedBy=multi-user.target
